@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);

.btn {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #8b5b2b;
	background-image: -moz-linear-gradient(top, #8b5b2b, #b17436);
	background-image: -ms-linear-gradient(top, #8b5b2b, #b17436);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b17436), to(#b17436));
	background-image: -webkit-linear-gradient(top, #8b5b2b, #b17436);
	background-image: -o-linear-gradient(top, #8b5b2b, #b17436);
	background-image: linear-gradient(top, #8b5b2b, #b17436);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#8b5b2b, endColorstr=#b17436, GradientType=0);
	border-color: #b17436 #b17436 #b17436;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #b17436;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	background-color: #8b5b2b;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #8b5b2b;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	background-color: #8b5b2b;
	background-image: -moz-linear-gradient(top, #b17436, #8b5b2b);
	background-image: -ms-linear-gradient(top, #b17436, #8b5b2b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b17436), to(#8b5b2b));
	background-image: -webkit-linear-gradient(top, #b17436, #8b5b2b);
	background-image: -o-linear-gradient(top, #b17436, #8b5b2b);
	background-image: linear-gradient(top, #b17436, #8b5b2b);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#b17436, endColorstr=#b17436, GradientType=0);
	border: 1px solid #b17436;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	filter: none;
	background-color: #8b5b2b;
}

.btn-block {
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1.2px;
	background-image:
		linear-gradient(to bottom, rgba(249, 231, 159, 0.5), transparent 100%),
		repeating-conic-gradient(rgba(139, 91, 43, 0.8) 0 15deg, rgba(249, 231, 159, 0.5) 15deg 30deg);
}

img {
	width: 20%;
	margin-right: 30%;
	margin-top: 5%;
}


.login {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 400px;
	height: 400px;

	h1 {
		color: #9daf0b;
		text-shadow: 0 0 10px rgb(157, 175, 11);
		text-align: center;
		font-family: 'Permanent Marker', cursive;
		-webkit-text-stroke: 0.8px #000;
	}

	form div {
		display: flex;
	}

	textarea {
		background: white;
		border: none;
		outline: none;
		padding: 10px;
		font-size: 13px;
		color: #493016;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
		-webkit-transition: box-shadow .5s ease;
		-moz-transition: box-shadow .5s ease;
		-o-transition: box-shadow .5s ease;
		-ms-transition: box-shadow .5s ease;
		transition: box-shadow .5s ease;
		height: 100px;
	}
}

input {
	width: 80%;
	background: white;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #493016;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus {
	box-shadow: inset 0 -5px 45px rgba(249, 231, 159, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}


@media (300px <=width <=1024px) {

	body {
		background-image:
			linear-gradient(to bottom,
				rgba(249, 231, 159, 0.5) 0%,
				rgba(249, 231, 159, 0.5) 50%,
				transparent 100%),

			repeating-conic-gradient(rgba(139, 91, 43, 0.8) 0 15deg,
				rgba(249, 231, 159, 0.5) 15deg 30deg);
		background-position-y: -323px;
	}

	img {
		width: 60%;
		margin-top: 15%;
		margin-left: -170px;
	}

	.login {
		margin: -450px 0 0 -180px;
		width: 350px;
	}
}