<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>BEEKEEPING RESPONSE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <section>
      <div class="img">
        <img
          src="https://res.cloudinary.com/wdapico/image/upload/v1696108281/abeja_fa8rsk.png"
          alt="BEEKEEPING RESPONSE"
        />
      </div>
      <div class="login">
        <h1>Consulta!!, mi pequeña abeja</h1>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="/respond" method="post">
          <div>
            <input
              type="text"
              name="titulo"
              placeholder="Que quieres preguntar?"
              required="required"
            />

            <button type="submit" class="btn btn-primary btn-block btn-large">
              Preguntame
            </button>
          </div>
        </form>
        <br />
        <br />
        <textarea>{{Category}}</textarea>
      </div>
    </section>
  </body>
</html>
